
body{
    margin: auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
H1, H2{
    font-family: 'Sansita', sans-serif;
    font-size: 35px;
}
#logo{
    width: 59px;
    height: 50px;
    padding-right: 20px;
}
#banner{
    background-color: #2F2073;
    color: #fff;
    margin: 0px;
    padding-left: 20px;
    height: 70px;
    display: flex;
}
#banner h1{
    margin: 0px;
    display: flex;
    align-items: center;
    font-size: 39px;
}
#menu{
    height:  30px;
    margin: 0px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}